<article>
  <section class='wrapper'>
  <h2>Mission</h2>
  <p>
    Baltimore Public Art Commons facilitates civic engagement with the city's
    public art including monuments, sculptures, murals and temporary
    installations.
  </p>

  <h2>Our Commitment</h2>
  <p>
    The Public Art Commons is committed to supporting the free exchange of ideas
    and experience. This includes creative commons distribution of information
    and the utilization of open source digital frameworks. We kindly request
    that any of the material found here be redistributed in kind, as creative
    commons and open source.
  </p>

  <h2>What You Will Find Here Now</h2>
  <p>
    Currently you will find the most complete spreadsheet of Baltimore City's
    public art that is available. That is not to say that it's complete - please
    send us your additions.
  </p>

  <h2>We Are Seeking Sponsorship and Institutional Partners!</h2>
  <p>
    There is also application development work and photography to be done.
    Please contact us if you are interested in helping with programming. We are
    also looking for support to pay our two, currently unpaid staff people.
    Natasha Jones, Content Coordinator and Ali Ibrahim, Application Development
    Coordinator.
  </p>

  <h2>Finally</h2>
  <p>
    If your work of art is included on this site and you would like it removed,
    please feel free to contact us and it will be removed so.  We will be sad
    to see it go!
  </p>

  <p>
    <%= link_to 'Browse the Collection', items_path %>
  </p>
  </section>
</article>
