<article>
  <section class='wrapper'>
    <h2>Mission</h2>
    <p>
      Baltimore Public Art Commons facilitates civic engagement with the city's
      public art including monuments, sculptures, murals and temporary
      installations.
    </p>

    <h2>Our Commitment</h2>
    <p>
      The Public Art Commons is committed to supporting the free exchange of
      ideas and experience. This includes creative commons distribution of
      information and the utilization of open source digital frameworks. We
      kindly request that any of the material found here be redistributed in
      kind, as creative commons and open source.
    </p>

    <h2>
      We are actively seeking fiscal sponsorship and institutional partners!!!
    </h2>
    <p>
      Please let us know if you or your organization would like to collaborate
      with us. We are also looking for support to pay our two, currently
      unpaid staff people. Natasha Jones, Content Coordinator and Ali Ibrahim,
      Application Development Coordinator.
    </p>

    <h2>Finally</h2>
    <p>
      If your work of art is included on this site and you would like it
      removed, please feel free to contact us and we will do so. We will be sad
      to see it go!
    </p>
  </section>
</article>
