<article>
  <section class='wrapper'>
    <p>
      The Baltimore Public Art Commons is an open source platform to collect and
      distribute information about public art and monuments throughout Charm
      City.
    </p>
    <p>
      <%= link_to 'Read More', about_path %>
      or
      <%= link_to 'Browse the Collection', items_path %>
    </p>
  </section>
</article>
