$grey: #666666;
$base-line-height: 2.56rem;
$tile-content-width: 92%;

.inline-block-container {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.tile {
  background-color: $grey;
  margin-bottom: $base-line-height;

  a {
    text-decoration: none;
  }

  @media (min-width: 640px) {
    display: inline-block;
    width: 49%;
  }

  @media (min-width: 800px) {
    width: 32%;
  }

  @media (min-width: 1200px) {
    width: 24%;
  }
}

.tile-image {
  display: block;
  margin: 0 auto;
  padding-top: $base-line-height / 2;
  width: $tile-content-width;
}

.tile-title {
  color: white;
  margin: 0 auto;
  padding-top: $base-line-height / 4;
  padding-bottom: $base-line-height / 4;
  width: $tile-content-width;
}
