<div class='wrapper'>
  <div class='item'>
    <%= link_to item_public_data.path do %>
      <%= image_tag item_public_data.small_image %>
      <p><%= item_public_data.name(context) %></p>
    <% end %>
  </div>
</div>
