<% if @query_header %>
  <h2><%= @query_header %></h2>
<% end %>

<%= render partial: 'tile',
  collection: @items_public_data,
  as: :item_public_data,
  locals: { context: :index }
%>

<%= will_paginate @items %>
