<% if @query_header %>
  <h2><%= @query_header %></h2>
<% end %>

<div class='tiles-container'>
  <%= render partial: 'tile',
    collection: @items_public_data,
    as: :item_public_data,
    locals: { context: :index }
  %>
</div>

<%= will_paginate @items %>
