<div id='items'>
  <% if @query_header %>
    <header class='wrapper'>
      <h2><%= @query_header %></h2>
    </header>
  <% end %>

  <%= render partial: 'tile',
    collection: @items_public_data,
    as: :item_public_data,
    locals: { context: :index }
  %>
</div>
