$column-width-percentage: 100% / 18;
$base-font-size: 16px;
$base-line-height: 24px;
$gutter-width: 24px;

$h1-font-size: 2 * $base-font-size;
$h1-line-height: $base-line-height * 1.5;
$h1-line-height-overflow: $h1-line-height - $base-line-height;

$h2-font-size: 1.5 * $base-font-size;
$h2-line-height: $base-line-height * 1.5;
$h2-line-height-overflow: $h2-line-height - $base-line-height;

$orange: #F6921E;
$blue: #28A5C6;
$grey: #666666;

body {
  font-size: #{$base-font-size / $base-font-size}em;
  line-height: #{$base-line-height / $base-font-size}em;
  font-family: CallunaSans-Regular;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: #{$h1-font-size / $base-font-size}em;
  line-height: #{$h1-line-height / $h1-font-size}em;
  margin-top: #{$base-line-height / $h1-font-size}em;
  margin-bottom: #{$h1-line-height / $h1-font-size}em;
}

h2 {
  font-size: #{$h2-font-size / $base-font-size}em;
  line-height: #{$h2-line-height / $h2-font-size}em;
  margin-bottom: #{$h2-line-height-overflow / $h2-font-size}em;
}

a {
  text-decoration: none;
  color: #000;
  &:hover { text-decoration: underline; }

  &.logo { text-decoration: none; }
}

.orange { color: $orange; }

.blue { color: $blue; }

.search-form {
  input {
    float: left;
    width: #{234px / $base-font-size}em;
    font-size: 1em;
    border: 1px solid $blue;
  }

  button {
    background: url('/assets/search.png') $blue no-repeat;
    border: 0 none;
    height: 1.5em;
    width: 1.5em;
    float: right;
  }
}

h3, .small-caps {
  font-variant: small-caps;
}

/*
*
*  Simple elastic gutters
*  Assuming gutter width of 1.5em
*
*/
.wrapper {
  padding: 0 #{($gutter-width / $base-font-size) / 2}em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

body {
  margin: 0 $column-width-percentage;
}

header {
  span {
    display: inline-block;
    float: left;
    clear: left;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  span:first-child {
    margin-top: #{$base-line-height / $base-font-size}em;
  }

  span:last-child {
    margin-bottom: #{($h1-line-height-overflow) / $base-font-size}em;
  }
}

p {
  margin-bottom: #{$base-line-height / $base-font-size}em;
}

.item {
  background-color: $grey;
  padding-top: #{0.5 * ($base-line-height / $base-font-size)}em;
  width: #{260px / $base-font-size}em;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: #{0.5 * ($base-line-height / $base-font-size)}em;
    margin-left: #{((260px - 235px) / 2) / $base-font-size}em;
    padding-bottom: #{0.5 * ($base-line-height / $base-font-size)}em;
    color: white;
  }

  a { text-decoration: none; }
}

.wrapper { float: left; }

dt {
  margin-top: #{$base-line-height / $base-font-size}em;
  &:first-child { margin: 0; }
}

#items header {
  float: none;
  margin: 0;
}

/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/
@media screen and (min-width: #{957px / $base-font-size}em) {
  header {
    span:last-child {
      margin-bottom: #{($base-line-height + $h1-line-height-overflow) / $base-font-size}em;
    }
  }
}

@media screen and (min-width: #{959px / $base-font-size}em) {
  header span.search-form {
    float: right;
    clear: none;
  }
}

@media screen and (min-width: #{1300px / $base-font-size}em) {
  header, article, #items {
    margin: 0 $column-width-percentage * 1;
  }
}
